/covid19-data
/.ipynb_checkpoints
/venv

/czech/czech_api_token.txt
/czech/.ipynb_checkpoints
# /czech/data-czech
# /czech/*.csv

# /slovak/data-slovakia
/slovak/data-slovakia/*/*.xlsx
/slovak/data-slovakia/*.xlsx